body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
    font-family: cursive;
}

#pause {
	text-align: center;
    font-size: 20px;
    font-family: cursive;
}

#grad1 {
  background: #F2FFB7;
}

img{
    border-radius: 20px;
}