body {
  padding-top: 70px;
  padding-bottom: 30px;
}

 /* Dropdown Button */
.dropbtn {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    height: 172px;
    width: 200px;
    overflow: hidden;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 42px;
    bottom: 0;
    left: 0;
    right: 0px; 
    overflow-y: scroll;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
} 

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}


/*Grid Layout of Album*/

.album{
    height: 350px;
    width: 275px;
}
.album p img{
    height: 200px;
    width: 240px
}
.album:nth-child(6) p img{
    margin-top: 30px
}

/*Media Query for reponsive and stable layout*/
@media screen and (max-width: 1200px){
    .album {
        height: 450px;
        width: 340px
    }
    .album p img{
    height: 260px;
    width: 300px
    }
    .album:nth-child(3) p img{
    margin-top: 35px
    }
    .album:nth-child(6) p img{
    margin-top: 0px
    }
}



@media screen and (max-width: 995px){
    .album {
        height: 350px;
        width: 275px
    }
    .album p img{
    height: 200px;
    width: 240px
    }
    .album:nth-child(6) p img{
    margin-top: 30px
    }
}

@media screen and (max-width: 760px){
    .album {
        height: 350px;
        width: 40vw
    }
    .album p img{
    height: 200px;
    width: 35vw
    }
}

@media screen and (max-width: 600px){
    .album {
        height: 77vw;
        width: 70vw;
        left: 50%;
        transform: translate(-50%);
    }
    .album p img{
    height: 40vw;
    width: 63vw
    }
}
